{% extends "layouts/_layout.njk" %}
{% set title = "NICE Bootstrap v2" %}

{% block body %}
<div class=row>
    <div class="span3">
    	<p>test</p>
    </div>
    <div class="span6"></div>
    <div class="span3"></div>
</div>


{% endblock %}