{% extends "layouts/_layout.njk" %}
{% set title = title %}

{% block body %}
<div class="row match-my-cols">
    <div class="span2 filter-container col">
    {% include "partials/filters.njk" %}
    </div>
    <div class="span6">
     {% include "partials/results.njk" %}
    </div>
    <div class="span4 desc-container col">
    </div>
</div>

{% endblock %}