{% extends "layouts/_layout.njk" %}
{% set title = "NICE Tech radar" %}

{% block body %}
<div class=row>
    <div class="span3">
    {% include "partials/filters.njk" %}
    </div>
    <div class="span6">
     {% include "partials/results.njk" %}
    </div>
    <div class="span3">
      {% include "partials/description.njk" %}
    </div>
</div>

{% endblock %}