doctype
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
     .filter-siderbar
    block filters
    .container
    block content
    .description-siderbar
    block description 
    footer