<h4>Filter by status</h4>
<div>
    <a id="ResetFilters">Reset Filters</a>
    {% for status in statusList %}
    <label class="control control--checkbox" id={{status}}>                
        <input type="checkbox" checked="checked"  data-status={{status}}>
            {{status}}
        <div class="control__indicator"></div>
        <div class="status-color {{status}}"></div>
    </label>
    {% endfor %}
</div>
