<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" charset="utf-8">
	<link href="//cdn.nice.org.uk/V2/Content/NICE.bootstrap.css" rel="stylesheet" type="text/css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="crossorigin="anonymous"></script>
	<script src="/scripts/tech-radar.js"></script>
</head>
<body>
{% block body %}
		This is the default body content
{% endblock %}
</body>